
body {
	box-sizing: border-box;
	overflow: hidden;



}





/*

CONTENT



*/

.left {
	background-color: white;
	width: 40px;
	height: 900px;
	float: left;
}

.intro_section {
	margin-top: 60px;
}







/*

 RIGHT NAVIGATION

*/


.right_nav {
	background-color: #111111;
	width: 40px;
	height: 900px;
	display: inline-block;
	transition: 0.5s cubic-bezier(0.8, 0.03, 0.1, 1.43);
	padding-left: 0;
	position: fixed;
	right: 0;
}

.icons_nav_container {
	display: table-cell;
	height: 800px;
	width: 40px;
	vertical-align: middle;



}

.icons_nav {
	width: 40px;
	height: 40px;
	background-color: red;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	
}


.right_nav:hover {
	width: 250px;

}

.right_nav_outer {
	width: 40px;
	height: 900px;
	background-color: #333;
	float: left;

}


/*

Header

*/

header {
	background-color: white;
	height: 80px;
	width: 100%;
}


/*
Footer

*/
footer {
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: white;
	height: 40px;
}



